/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 3em;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75vmin;
  height: 75vmin;
  background: currentColor;
  grid-gap: .5em;
  padding: .5em;
  margin: auto;
}

.board__square {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vmin;
  user-select: none;
}

.board__square--available {
  cursor: pointer;
}

.status {}